/*************/
/* RESET CSS */
/*************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

html {
	background-color: rgb(245, 246, 240);
	font-family: 'Merriweather', serif;
	font-size: 10px;
}



/**********/
/* Header */
/**********/
header {
	color: rgb(2, 15, 20) ;
	display: flex;
	flex-flow: column wrap;
	text-align: center;
	width: 100% vw;
}

#login {
	flex: 1;
}

#brand {
	flex: 1;
}

header nav {
	flex: 1;
}

header nav ul {
	display: flex;
	flex-flow: column wrap;
}

header nav li {
	flex: 1;
}

/**********************/
/*  HEADER MEDIAQUERY */
/**********************/
@media screen and (min-width: 426px) {

	header {
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	header div:first-child {
		max-width: 20rem;
		order: 3;
	}
	
	#brand {
		max-width: 20rem;
		margin-left: 2rem;
	}

	header nav {
		max-width: 40rem;
		margin: 0 auto;
	}

	header nav ul {
		flex-flow: row wrap;
	}

}

.logo-brand {
	display: inline-block;
	font-family: 'Merriweather', serif;
	font-size: 3rem;
}

figure.logo-brand {
	position: relative;
	height: 4rem;
	width: 3.4rem;
}

header img{
	position: absolute;
	left: -1rem;
	bottom: -1rem;
}

/* Text Types */
.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.uppercase {
	text-transform: uppercase;
}

/* t-center:	Text align center */
/* t-right:		Text align right  */
/* t-left:		Text align left   */
.t-center {
	text-align: center;
}

.t-left {
	text-align: left;
}

.t-right {
	text-align: right;
}

/* Paddings */
/* p:	All Paddings           */
/* ptb:	Padding Top and Bottom */
/* pt:	Padding Top            */
/* pb:	Padding Bottom         */
/* prl:	Padding Right and Left */
/* pr:	Padding Right          */
/* pl:	Padding Left           */
.p-2 {
	padding: 2rem;
}

.p-3 {
	padding: 3rem;
}

.ptb-1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.ptb-3 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.ptb-5 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.pt-1 {
	padding-top: 1rem;
}

.pt-3 {
	padding-top: 3rem;
}

.pt-5 {
	padding-top: 5rem;
}

.pb-1 {
	padding-bottom: 1rem;
}

.pb-3 {
	padding-bottom: 3rem;
}

.pb-5 {
	padding-bottom: 5rem;
}

.prl-1d5{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.prl-2{
	padding-left: 2rem;
	padding-right: 2rem;
}

.prl-3{
	padding-left: 3rem;
	padding-right: 3rem;
}

.pl-1d5{
	padding-left: 1.5rem;
}

.pl-2{
	padding-left: 2rem;
}

.pr-1d5{
	padding-right: 1.5rem;
}

.pr-2{
	padding-right: 2rem;
}

/* Margins */
/* m:	All Margins           */
/* mtb:	Margin Top and Bottom */
/* mt:	Margin Top            */
/* mb:	Margin Bottom         */
/* mrl:	Margin Right and Left */
/* mr:	Margin Right          */
/* ml:	Margin Left           */
.m-3 {
	margin: 3rem;
}

.mtb-0 {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.mtb-1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.mtb-1d5 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.mtb-2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.mtb-3 {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.mtb-5 {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.mt-3 {
	margin-top: 3rem;
}

.mt-5 {
	margin-top: 5rem;
}

.mt-7 {
	margin-top: 7rem;
}

.mb-0 {
	margin-bottom: 0rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mb-3 {
	margin-bottom: 3rem;
}

.mb-5 {
	margin-bottom: 5rem;
}

.mrl-auto {
	margin-right: auto;
	margin-left: auto;
}

.mrl-0 {
	margin-right: 0;
	margin-left: 0;
}

.mrl-1d5 {
	margin-right: 1.5rem;
	margin-left: 1.5rem;
}

.mrl-2 {
	margin-right: 2rem;
	margin-left: 2rem;
}

.mr-1d5{
	margin-right: 1.6rem;
}

/********/
/* MAIN */
/********/
main {
	color: rgb(2, 15, 20) ;
}

ol {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

ol li {
	flex: 1;
	font-size: 1.5rem;
	max-width: 13rem;
}

ol li:first-child {
	max-width: 5rem;
}

ol li::before {
	content: "/";
	padding-right: 0.5rem;
}

ol li:first-child::before {
	content: "";
}

ol li:last-child {
	opacity: 0.5;
}

dl {
	font-size: 1.5rem;
}

dt {
	font-weight: bold;
	border-bottom: 1px solid rgb(2, 15, 20);
	margin: 1rem 0;
}

dl dl dt,
dl dl dd{
	border: none;
	display: inline-block;
	margin: 0.3rem 0;
}

blockquote {
	background-color: rgb(204, 204, 204);
	border-left: 0.3rem solid rgb(67, 58, 68);
	border-right: 0.3rem solid rgb(67, 58, 68);
	padding: 2rem 0rem;
}

/******/
/* HR */
/******/
hr {
	display: none;
}

@media screen and (min-width: 426px) {
	main {
		width: 75%;
		margin: 0 auto;
	}
	
	hr {
		display: block;
	}

	ol {
		justify-content: left;
	}
}

h1 {
	font-size: 2.7rem;
	font-weight: bold;
}

/* Button Type */
.button {
	background-color: rgb(255, 80, 50) ;
	border-radius: 0.5rem;
	display: block;
	font-size: 1.5rem;
	height: 3.6rem;
	line-height: 3.6rem;
	text-align: center;
	width: 13.3rem;
}

.button > span {
	color: rgb(255, 255, 255);
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

/* Links */
.no-link {
	text-decoration: none;
}

/* Link Logo and Brand */
.logo-brand-link,
.logo-brand-link:link,
.logo-brand-link:visited,
.logo-brand-link:focus,
.logo-brand-link:hover,
.logo-brand-link:active {
	color: rgb(2, 15, 20) ;
}

/* Text Links */
.text-link {
	color: rgb(255, 80, 50) ;
}

.text-link:link,
.text-link:visited,
.text-link:focus {
	color: rgb(255, 80, 50) ;
}

.text-link:hover {
	color: rgba(255, 80, 50, 0.5) ;
}

.text-link:active {
	color: rgb(255, 80, 50) ;
}

/* Button Link */
.button:link,
.button:visited,
.button:focus {
	color: rgb(255, 255, 255);
}

.button:hover {
	background-color: rgb(2, 15, 20) ;
}

button:active {
	background-color: rgb(255, 80, 50) ;
}

/**********/
/* NAVBAR */
/**********/
nav {
	font-family: 'Montserrat', sans-serif;
}

/* Links NavBar */
.nav-bar-link {
	color: rgb(2, 15, 20);
	font-size: 1.5rem;
}

.nav-bar-link:link,
.nav-bar-link:visited,
.nav-bar-link:focus {
	color: rgb(2, 15, 20);
}

.nav-bar-link:hover {
	color: rgba(2, 15, 20, 0.5);
}

.nav-bar-link:active {
	color: rgb(2, 15, 20);
}

/* NavBar Página actual */
.nav-bar-link-actual-page {
	font-weight: bold;
	font-style: italic;
}

/* Footer link */
.footer-link {
	color: rgb(255, 255, 255) ;
}

.footer-link:link,
.footer-link:visited,
.footer-link:focus {
	color: rgb(255, 255, 255) ;
}

.footer-link:hover {
	color: rgb(255, 80, 50) ;
}

.footer-link:active {
	color: rgb(255, 255, 255) ;
}

/**********/
/* IMAGES */
/**********/
.icon {
	width: 16.3rem;
}

.club-img {
	width: 100%;
}

.circle {
	border-radius: 100%;
	background-image: url("../img/detalle-lectura/aldous-huxley.jpg");
	float: left;
	height: 20rem;
	margin-right: 0.5rem;
	shape-outside: circle();
	width: 20rem;
}

.cleared {
	clear: right;
}

figure#youtube{
	height: 100%;
	padding-top: 56.25%;
	position: relative;
	width: 100%;
}

iframe {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

/************/
/* SECTIONS */
/************/
section p {
	font-size: 1.6rem;
	line-height: 2.5rem;
}

section#how {
	display: flex;
	flex-flow: column wrap;
}

section#join {
	display: flex;
	flex-flow: column wrap;	
}

section#join h1{
	flex: 1 100%;
}

hgroup {
	flex: 1;
}

#registerForm {
	flex: 1;
}

section h2 {
	font-size: 2.4rem;
	line-height: 3.5rem;
}

section h3 {
	flex: 1 100%; 
	font-size: 2.2rem;
	line-height: 3.5rem;
}

article#clubes {
	display: flex;
	flex-flow: column wrap;
}

article#clubes > h1 {
	width: 100%;
}

article#content {
	display: flex;
	flex-flow: column wrap;
}

article#content h1{
	flex: 1 100%;
}

section[id^='club'] {
	flex: 1 33%;
}

section[id^='club'] h2::before {
	content: '-';
	font-weight: bold;
	font-size: 4rem;
	margin-right: 1rem;
}

section[id^='books'] h3::before {
	content: '-';
	font-weight: bold;
	font-size: 4rem;
	margin-right: 1rem;
}

section[id^='club'] a {
	font-size: 1.5rem;
}

section[id^='books'] {
	display: flex;
	flex-flow: column wrap;	
}

section[id^='books'] a {
	font-size: 1.5rem;
}

section[id^='books'] figure {
	box-shadow: 0rem 0rem 1rem 0.5rem gray;
	display: inline-block;
	flex: 1;
	margin: 1rem auto;
	width: min-content;
}

section[id^='books'] img {
	height: 37.7rem;
	width: 25rem;
}

section[id^='books'] img:hover {
	opacity: 0.5;
}

section[id='lecturas-books'] {
	display: flex;
	flex-flow: column wrap;
}

section[id='author'] {
	position: relative;
}

figcaption {
	height: 7.7rem;
	line-height: 2rem;
	padding: 3rem 0.5rem 0.5rem 0.5rem;
	text-align: left;
}

#youtube + figcaption {
	font-size: 1.4rem;
	height: auto;
	padding: 0rem;
	text-transform: uppercase;
}

aside {
	flex: 1;
}

section[id^='list-'] {
	flex: 3;
}

section[id='sheet'] {
	flex: 1;
}

section[id='info'] {
	flex: 2;
}

@media screen and (min-width: 426px) {
	section[id='lecturas-books'] {
		flex-flow: row wrap;
		padding: 1rem 0rem;
	}

	section[id$='-intro'] {
		padding: 0 10%;
	}

	section[id^='books'] {
		flex-flow: row wrap;	
		justify-content: space-around;
		margin: 5rem auto;
	}

	section[id^='books'] figure {
		max-width: 25rem;
	}

	article#content {
		flex-flow: row wrap;
	}
}

cite {
	font-style: italic;
}

#section-form {
	display: inline-block;
	flex: 1;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5rem;
	width: 100%;
}

div#section-form p {
	font-size: 1rem;
	line-height: 1.5rem;
}

figure + p {
	display: inline-block;
}

@media screen and (min-width: 426px) {

	section#what p {
		width: 75%;
		margin: 0 auto;
	}

	section#how {
		flex-flow: row wrap;
		justify-content: space-around;
	}

	section#how > h1 {
		width: 100%;
	}

	figure + p {
		width: 100%;
	}

	div#section-form p {
		font-size: 1rem;
		line-height: 1.5rem;
		margin: 0;
		margin-bottom: 2rem;
	}

	section#join {
		flex-flow: row wrap;
		justify-content: space-around;
	}

	section#join h1{
		width: 100%;
	}

	article#clubes {
		flex-flow: row wrap;
	}

	section[id^="club"]{
		padding: 0 2rem;
	}

}

/* Form */
form input {
	display: block;
	font-size: 2rem;
	height: 5.5rem;
	width: 100%;
}

/**********/
/* FOOTER */
/**********/
main + footer {
	background-color: rgb(67, 58, 68) ;
	color: rgb(255, 255, 255) ;
	display: flex;
	flex-flow: column wrap;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}

#otros {
	display: flex;
	flex: 1;
	flex-flow: column wrap;
	font-size: 1.6rem;
	line-height: 2.5rem;
}

#social {
	display: flex;
	flex: 1;
	flex-flow: column wrap;
	font-size: 1.6rem;
	line-height: 2.5rem;
}

#copyright {
	flex: 1 100%;
	display: flex;
	flex-flow: column wrap;
}

#copyright p {
	flex: 1;
}

footer li {
	flex: 1;
}

footer div p {
	line-height: 2rem;
	font-size: 1.2rem;
}

#scroll-up {
	font-size: 2.5rem;
	position: absolute;
	right: 0em;
	bottom: 0em;
}

@media screen and (min-width: 426px) {
	main + footer {
		flex-flow: row wrap;
	}

	#otros {
		flex-flow: row wrap;
		justify-content: flex-start;
		margin-left: 2rem;
	}

	#social {
		flex-flow: row wrap;
		justify-content: flex-end;
	}

	footer li {
		max-width: 10rem;
		position: relative;
	}

	footer li::after {
		content: "·";
		position: absolute;
		left: 100%;
	}

	#otros li:first-child {
		max-width: 13rem;
	}

	#otros li:last-child {
		max-width: 20rem;
	}

	footer li:last-child::after {
		content: "";
	}

	#copyright{
		align-items: flex-start;
		margin-left: 2rem;
	}
}